[submodule "nvim"]
    path = nvim
    url = https://github.com/88IO/nvim.git
    ignore = all
[submodule "vim"]
    path = vim
    url = https://github.com/88IO/vim.git
    ignore = all
[submodule "tmux"]
    path = tmux
    url = https://github.com/88IO/tmux.git
    ignore = all
    path = shell
    url = https://github.com/88IO/shell.git
    ignore = all
